<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:jaxws="http://cxf.apache.org/jaxws" 
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation=" http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://cxf.apache.org/jaxws 
http://cxf.apache.org/schemas/jaxws.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName" default-lazy-init="true">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <context:annotation-config />
	<context:component-scan base-package="org.fkjava.cxf.ws" />
	<context:component-scan base-package="org.fkjava.cxf.ws.impl" />
	
    <jaxws:endpoint id="helloWorldWs" implementor="org.fkjava.cxf.ws.impl.HelloWorldWs" address="/crazyit">
    <!-- 
    	<jaxws:inInterceptors>
    		<bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor" />
    		<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
		    	<constructor-arg>
		            <map>
		               <entry key="action" value="UsernameToken"/>
		               <entry key="passwordType" value="PasswordText"/>
		               <entry key="passwordCallbackClass" value="com.dongao.modules.api.webservice.handler.WsAuthHandler" />
		            </map>
		    	</constructor-arg>
		    </bean>
		</jaxws:inInterceptors>
	-->
    </jaxws:endpoint>
    
</beans>
    
        
